@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

font-family:"Poppins",sans-serif;

background:#081c15;

color:white;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

}

img{

max-width:100%;

display:block;

}

button{
transition:.3s ease;
}

button:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,0,0,.2);
}

button:active{
transform:scale(.96);
}

.page{
animation:fade .4s ease;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}