.popular{

padding:90px 8%;

background:#f8fff8;

}

.popular h2{

font-size:42px;

text-align:center;

color:#1b4332;

margin-bottom:10px;

}

.popular p{

text-align:center;

color:#666;

margin-bottom:50px;

}

.popular-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}